{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block headerCSSContent %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/home.css' %}" />
{% endblock headerCSSContent %}

{% block title %} {% translate "Reset your password" %}{% endblock %}
{% block bodyContent %}
	<div class="wheel-start3" style='background-image: url("/static/images/bg7.jpg");'>
		<img src="{% static 'images/bg7.jpg' %}" alt="" class="wheel-img" style="display:none">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 padd-lr0">
					<div
						class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
						<h3>{% translate "Reset your password" %}</h3>
						<ol class="breadcrumb">
							<li><a href="#">{% translate "Home" %}</a></li>
							<li><a href="#">{% translate "pages" %}</a></li>
							<li class="active">{% translate "Login" %}</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container padd-lr0">
		<div class="row">
			<div class="col-md-6 ">
				<div class="wheel-info-img  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100" style='background-image: url("{% static 'images/i7.png' %}"); height: 389px;'>
					<img src="{% static 'images/bg7.jpg' %}" alt="" class="wheel-img" style="display: none;">
				</div>
			</div>
			<div class="col-md-6 ">
				<div class="wheel-info-text  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100 marg-sm-t50 marg-sm-b50">
					<div class="wheel-header">
						<h5>{% translate "Welcome " %}<span>{{ user.get_full_name }}</span></h5>
						<h3>{% translate "Reset your" %} <span>{% translate "password" %}</span></h3>
					</div>

					{% if validlink %}
						<div class="wheel-register-log">
						<p>{% translate "Please enter your new password twice:" %}</p>
						<form id="form_change_password" method="post">
							{% csrf_token %}

							<ul>
								<li><span>{% translate "Your password can’t be too similar to your other personal information." %}</span></li>
								<li><span>{% translate "Your password must contain at least 8 characters." %}</span></li>
								<li><span>{% translate "Your password can’t be a commonly used password." %}</span></li>
								<li><span>{% translate "Your password can’t be entirely numeric." %}</span></li>
							</ul>
							<p></p>

							{% if form.errors.new_password1  %}<div class="message_error">{{ form.errors.new_password1 }}</div> {% endif %}
							<label for="userPass" class="fa fa-lock">
								<input type="password" value="{{ form.data.new_password1 }}" name="new_password1" id='userPass' autocomplete="new-password" placeholder='{% translate "New Passsword" %}' required oninvalid="this.setCustomValidity('{% translate 'Please Enter New Password' %}')" oninput="setCustomValidity('')"/>
							</label>

							{% if form.errors.new_password2  %}<div class="message_error">{{ form.errors.new_password2 }}</div> {% endif %}
							<label for="userPass2" class="fa fa-lock">
								<input	type="password" value="{{ form.data.new_password2 }}" name="new_password2" id='userPass2' autocomplete="new-password" placeholder='{% translate "Confirm Password" %}' required oninvalid="this.setCustomValidity('{% translate 'Please confirm the Password' %}')" oninput="setCustomValidity('')"/>
							</label>

							<button class="wheel-btn">{% translate "Reset Password" %}</button>
						</form>
						</div>
					{% else %}
						<p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset."	%}</p>
						<a href="{% url 'index' %}" class="wheel-btn">{% translate "Home" %}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
