{% load i18n %}
{% translate "Hello," as hi %}
{% translate "We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below." as mail_context %}
{% translate "This link can only be used once. If you need to reset your password again, please visit " as part2 %}
{% translate " and request another reset." as part3 %}
{% translate "If you did not make this request, you can simply ignore this email." as part4 %}
{% translate "Sincerely," as part5 %}
{% translate "TunCar Team" as part6 %}

{% autoescape off %}
{{ hi }}

{{ mail_context }}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{{ part2 }}{{ protocol }}://{{domain}} {{ part3 }}

{{ part4 }}

{{ part5 }}
{{ part6 }}

{% endautoescape %}