{% extends "base.html" %}
{% load static %}
{% load html_tag %}
{% load i18n %}

{% block headerContent %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/home.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/manage.css' %}" />
    <script type="text/javascript" src="{% static 'assets/js/home.js' %}"></script>

{% endblock headerContent %}

{% block bodyContent %}
<div class="wheel-start3" style='background-image: url("{% static 'images/bg7.jpg' %}");'>
    <img src="{% static 'images/bg7.jpg' %}" alt="" class="wheel-img" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30 text-center">
                    <!-- Agency Image with Circle -->
                    <div class="wheel-agency-image mb-3 fade-in">
                        <img src="{{ agence.logo.url }}" alt="{{ agence.agency_name }}" class="img-fluid rounded-circle" style="width: 200px; height: 200px; object-fit: cover;">
                    </div>
                    <h3 class="text-white fade-text">{{ agence.agency_name }}</h3>
                    <ol class="breadcrumb justify-content-center fade-text">
                        <li><a href="#">{% translate "Home" %}</a></li>
                        <li><a href="#">{% translate "Pages" %}</a></li>
                        <li class="active">{% translate "Manage" %}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="wheel-info-text marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100 marg-sm-t50 marg-sm-b50">
    <div class="wheel-header">
        <h5>{% translate "Welcome " %}<span>{{ agence.agency_name }}</span></h5>
        <h3>{% translate "Management Dashboard" %}</h3>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-car fa-3x mb-3 text-primary"></i>
                    <h5 class="card-title">{% translate "Cars Management" %}</h5>
                    <a href="{% url 'agency_cars_list' agency_id=agence.id %}" class="btn btn-primary">
                        {% translate "Manage Cars" %}
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-calendar-alt fa-3x mb-3 text-success"></i>
                    <h5 class="card-title">{% translate "Rental Management" %}</h5>
                    <a href="{% url 'agency_rentals' agency_id=agence.id %}" class="btn btn-success">
                        {% translate "Manage Rentals" %}
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-users fa-3x mb-3 text-info"></i>
                    <h5 class="card-title">{% translate "Access Management" %}</h5>
                    <a href="{% url 'agency_permissions' agency_id=agence.id %}" class="btn btn-info">
                        {% translate "Manage Access" %}
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock bodyContent %}

{% block headerJSContent %}
{{ block.super }}
<script>
$(document).ready(function() {
    $('#autoApproveToggle').change(function() {
        const agencyId = $(this).data('agency-id');
        const isChecked = $(this).prop('checked');
        
        $.ajax({
            url: `/agency/${agencyId}/update-settings/`,
            method: 'POST',
            data: {
                auto_approve_rental: isChecked,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                    toastr.success("{% translate 'Settings updated successfully' %}");
                } else {
                    toastr.error(response.message || "{% translate 'An error occurred' %}");
                    // Revert toggle if update failed
                    $('#autoApproveToggle').prop('checked', !isChecked);
                }
            },
            error: function() {
                toastr.error("{% translate 'Failed to update settings' %}");
                // Revert toggle if update failed
                $('#autoApproveToggle').prop('checked', !isChecked);
            }
        });
    });
});
</script>
{% endblock %}
