{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Your Agencies" %}{% endblock title %}
{% block headerContent %}
    <h1 class="text-center mt-5">{% translate "Your Agencies" %}</h1>
{% endblock headerContent %}
{% block headerCSSContent %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/agencies.css' %}">
    {{ block.super }}
{% endblock headerCSSContent %}
{% block bodyContent %}
<div class="container agency-container mt-7"> 
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>{% translate "Your Agencies" %}</h2>
        <a href="{% url 'agences_register' %}" class="btn btn-success"> {% translate "Register your Agencies" %}</a>
    </div>
    <div class="row">
        {% for agence in agencies %}
            <div class="col-md-4 mb-4">
                <div class="card agency-card p-3">
                    <img src="{{ agence.logo.url }}" class="card-img-top agency-img mb-3" alt="{{ agence.agency_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ agence.agency_name }}</h5>
                        <p class="card-text">{{ agence.adress_agency }}</p>
                        {% if not agence.is_mail_verified %}
                            <a href="{% url 'mail_not_confirmed_agency' %}" class="btn btn-warning">{% translate "Confirm Email" %}</a>
                        {% elif agence.is_active %}
                            <a href="{% url 'manage_agence' agence.id %}" class="btn btn-primary">{% translate "Manage" %}</a>
                        {% else %}
                            <a href="{% url 'pending_agence' %}" class="btn btn-warning">{% translate "Pending Approval" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock bodyContent %}
